
<% var title = 'Authentication Example' %>
<% include head %>

<h1>Logout</h1>
<%- message %>
<h2>Saliendo...</h2>
<!--<form method="post" action="/logout">-->
  <!--<p>-->
  <!--  <label>Username:</label>-->
  <!--  <input type="text" name="username">-->
  <!--</p>-->
  <!--<p>-->
  <!--  <label>Password:</label>-->
  <!--  <input type="text" name="password">-->
  <!--</p>-->
  <!--<p>-->
  <!--  <input type="submit" value="Login">-->
  <!--</p>-->
<!--</form>-->

<% include foot %>