<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>

      <h1>Logout</h1>
      <h2>Saliendo...</h2>
      <a href="/">Volver</a>

  </body>
</html>